  <!-- toolbar -->
  <ion-toolbar class="ion-no-border">
    <!-- Botão de voltar -->
    <ion-icon slot="start" name="chevron-back-outline" routerLink="/feed"></ion-icon>
    <!-- Botão de salvar rascunho -->
    <ion-button  class="sketch">
      Salvar rascunho
    </ion-button>
    <!-- Botão de publicar -->
    <form [formGroup]="postForm" (ngSubmit) = "createPost(postForm)">
      <ion-button class="submit" type="submit" [disabled]="postForm.invalid"> 
        Publicar
      </ion-button>
    </form>
  </ion-toolbar>
  
<ion-content>

  
  
  <!-- Select de opção de tipos de posts -->

  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">

    <div class="select">
      
      <!-- Titulo do select -->
      
      <ion-item mode="md" lines="none">
        <ion-label>Selecione o tipo de post:</ion-label>

        <ion-select interface="popover" value="postLivre" formControlName="post_type">
          <ion-select-option value="resenha" >Resenha</ion-select-option>
          <ion-select-option value="postLivre">Post Livre</ion-select-option>
          <ion-select-option value="livro">Livro</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

        <!-- Input de adicionar o título do post -->
      <div class="addTitle">
        <ion-label>Título:</ion-label>
        <ion-item  mode="md">
          <ion-input type="text" clearInput="true" formControlName="title" ></ion-input>
        </ion-item>

      </div>

      <!-- Text-area pra escrever o post -->
      <div class="texto">

        <ion-item lines='none'>
          <ion-textarea placeholder="O que você está lendo?" rows='14' formControlName="text">
          </ion-textarea>  
            <!--Botão da câmera -->
          <div class="photo">
            <ion-fab>
              <img
                  [src]="photo"
                  vertical="center"
                  horizontal="center"
                  class="addFoto"  
              >
              <ion-fab-button size='small' (click)="takePicture()">
                <ion-icon name="camera"></ion-icon>
              </ion-fab-button>
              
            </ion-fab>
          </div>
          
        </ion-item>
      
      </div>
  </form>


</ion-content>
