<ion-card (click)="navigateToPost(feedPost.id)">
    
  <div class="userPost">
    
    <div class="user">
      <ion-avatar size="large">
        <img [src]="feedPost.user.profile_pic" alt="foto do usuário que fez o post"/>
      </ion-avatar>
      <ion-label>{{ feedPost.user.name }}</ion-label>
    </div>

    <ion-icon size="large" name="ellipsis-horizontal-outline"></ion-icon>
    
  </div>
  <div class="content">
    <h2>{{ feedPost.title }}</h2>
    <p> {{ feedPost.text }} </p>
  </div>
</ion-card>
