ion-content {
    --background: var(--amarelo);
}

/* Top com info do usuário */
.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 5% 10%;
}

.top ion-icon {
    color: var(--marrom);
}

.avatar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

ion-content div .top .avatar ion-avatar {
    height: 60px;
    width: 60px;
}

.avatar ion-label {
    font-family: var(--ubuntu);
    font-size: 1em;
    font-weight: 600;

    margin-left: 4vw;
}

.userAction {
    font-size: 1.5em;
}

/* Corpo do post */
.post {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 10%;
    
    font-family: var(--montserrat);
    color: black;
}

.post h2 {
    font-family: var(--ubuntu);
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}

.post img {
    border-radius: 20px;
}


.post p {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
}

/* Modo edição */
form .radios ion-item, form .addTitle ion-item, form .texto ion-item {
    --background: var(--amarelo);
}

/* Ações sobre o post */
.action {
    margin: 0 10% 5%;
    color: var(--marrom);
    font-size: 32px;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Form de comentário */
.comment-title {
    font-family: var(--montserrat);
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;

    margin: 0 10%;
}

.comment form {
    margin: 5% 10%;

    display: grid;
    grid-template-columns: 80% 20%;
    justify-content: space-between;
    align-items: center;

    font-family: var(--montserrat);
    font-size: 1em;
}

.comment form ion-item {
    border: 1px solid var(--cinza-medio2);
    border-radius: 20px;

    align-items: center;
    
    height: 89%;
}

.comment form ion-item ion-textarea {
    font-family: var(--montserrat);
    font-size: 0.9em;
}

.comment form ion-icon {
    color: var(--marrom);

}

.comment ion-card {
    margin: 3% 10%;

    --background: var(--amarelo);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;

    color: black;
}

/* header do comentário */
.userComment {
    display: grid;
    grid-template-columns: 80% 20%;
    justify-content: space-between;
    align-items: center;

    margin: 1% 3% 4%;
}


.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.userComment .user ion-avatar {
    width: 32px;
    height: 32px;

    margin-right: 3%;
}

.userComment .user ion-label {
    font-family: var(--montserrat);
    font-size: 0.9em;
    font-weight: 600;
}

.userComment ion-icon {
    color: var(--marrom);
    font-size: 16px;
    justify-self: end;
}

/* texto do comentário */
.comment ion-card p {
    font-family: var(--montserrat);

    margin-left: 3%;
    margin-right: 3%;
}

/* Form de edição */
form ion-icon {
    margin-top: 4%;
    margin-left: 4%;
    color: Var(--marrom);
}

.addTitle{
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.addTitle ion-label{
    color: var(--marrom);
    text-align: center;
    font-family: var(--ubuntu);
    font-size: 1.2em;
    font-weight: 500;
}

.addTitle ion-item {
    margin-left: 10%;
    margin-right: 10%;
    font-family: var(--montserrat);
    font-size: 1.2em;
}

//Textarea
.texto{
    margin-top: 4%;
    display: flex;
    justify-content: center;
}


.texto ion-item{
    --border-color:var(--marrom);
    --border-style:solid;
    --border-radius:30px;
    --border-width:1%;
    
}

.texto ion-textarea{

    width: 80vw;
    height: 50vh;

    font-family: var(--montserrat);
    font-size:1em;
    color: var(--cinza-escuro);
     
}

.submit {
    font-family: var(--ubuntu);
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin: 3% 6%;
}