ion-header { 
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.10);
    backdrop-filter: saturate(100%);
}

.header {
    display:flex;
    flex-direction: row;
    align-items: center;

    margin: 2% 5%;
}

.header img {
    width: 12%;
}

.header ion-title {
    font-size: 1.3em;
    text-align: left;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.button ion-button {
    width: 42%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;

    font-family: var(--ubuntu);
    font-size: 1.2em;
    font-weight: bold;
}

.inscrever {
    color: white;
}